* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  background-color: rgb(240, 229, 229) !important;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  position: initial;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #333;
  margin-top: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #0c0c0c;
  padding-bottom: 10px;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contenedor-principal {
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
